#nav_bar {
    background-color: #235E80;
    border-bottom-color: black;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    padding: 10px;
}

.nav_button {
    background-color: #235E80;
    color: black;
    text-align: center;
    margin: 0px 10px 10px 20px;
    padding: 5px 10px 5px 10px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
}

.nav_button:hover {
    background-color: #111D4A;
    color: #00F5C0;
}

#nav_msg {
    margin-top: 10px;
    margin-bottom: 20px;
    color: #00F5C0;
}

#logo {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
}