#site_content {
    background-color: #111D4A;
    color: #00F5C0;
    width: 90%;
    margin-top: 50px;
    padding-left: 5px;
}

#content {
    width: 80%;
    padding-top: 50px;
    padding-bottom: 50px;
    border-color: #00F5C0;
    border-width: 5px;
    border-style:solid;
}

.title h1 {
    text-align: center;
    color: #00F5C0;
    font-size: 50px;
    font-family: monospace;
    margin-bottom: 20px;
}

.single_msg {
    text-align: center;
}

.a_button {
    background-color: #00F5C0;
    color: black;
    font-weight: bold;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
}

.input_button {
    background-color: #00F5C0;
    color: black;
    font-weight: bold;
    font-size: 20px;
    border-style: hidden;
    border-radius: 5px;
}

.button_button {
    background-color: #00F5C0;
    color: black;
    font-weight: bold;
    font-size: 20px;
    border-style: hidden;
    border-radius: 5px;
}