.checkout_table {
    text-align: center;
    width: 80%;
    border-collapse: collapse;
}

.checkout_table td, th {
    width: 33%;
    border: 1px solid #00F5C0;
    text-align: center;
}

.checkout_table th {
    background-color: #00F5C0;
    color: black;
}

.checkout_end {
    text-align: center;
}

.btn {
    background-color: #00F5C0;
    color: black;
}

.dropdown-menu li {
    cursor: pointer;
}

.dropdown-menu li:hover {
    background-color: #00F5C0;
}

#searchForm {
    text-align: center;
}