{% extends 'customer/customer_base_template.html' %}
{% load static %}

{% block content %}
    <div class='title'>
        <h1>Edit Details</h1>
    </div>

    <div id='content' class='mx-auto'>
        <form action="{% url 'accounts:edit' %}" method="post" class='form_input d-flex align-items-center'>
            {% csrf_token %}
            <div class='flex-fill'>
                <h3>User Details</h3>
                <div>{{ user_form.as_p }}</div>
            </div>
            <div class='align-self-center flex-fill'>
                <h3>Personal Details</h3>
                <div>{{ customer_form.as_p }}</div>
                <div>
                    <input type="submit" value="Edit" class='input_button'>
                </div>
            </div>
        </form>
    </div>
    <link rel="stylesheet" href="{% static 'CSS_files/accounts/edit.css' %}">
{% endblock %}