{% extends 'homepage_base_template.html' %}
{% load static %}

{% block content %}
    <div class='title'>
        <h1>Sign Up</h1>
    </div>

    <div id='content' class='mx-auto'>
        <form action="{% url 'accounts:signup' %}" method="post" class='form_input d-flex align-items-center'>
            {% csrf_token %}
            <div class='flex-fill'>
                <h3>User Details</h3>
                <div>{{ user_form.as_p }}</div>
            </div>
            <div class='align-self-center flex-fill d-flex flex-column'>
                <div>
                    <h3>Personal Details</h3>
                    <div>{{ customer_form.as_p }}</div>
                </div>
                <div>
                    <input type="submit" value="Sign Up" class='input_button'>
                    <div id='other_forms'>
                        <h3>Already a CubeStopper?</h3>
                        <div>
                            <a href="{% url 'accounts:login' %}" class='a_button'>Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <link rel="stylesheet" href="{% static 'CSS_files/accounts/signup.css' %}">
{% endblock %}