{% extends 'menu/menu_base_template.html' %}
{% load static %}

{% block content %}
    <div class='title'>
        <h1>Order Confirmation</h1>
    </div>
    
    <div id='content' class='mx-auto'>
        <table class='checkout_table mx-auto'>
            <tr>
                <th><h2>Item</h2></th>
                <th><h2>Qty</h2></th>
                <th><h2>Price</h2></th>
            </tr>
            {% for order_item in order_items %}
                <tr>
                    <td><h4>{{ order_item.food_item.name }}</h4></td>
                    <td><h4>{{ order_item.quantity }}</h4></td>
                    <td><h4>{{ order_item.food_item.price }}</h4></td>
                </tr>
            {% endfor %}
        </table>
        <br>
        <br>
        <table class='checkout_table mx-auto'>
            <tr>
                <th><h2>Service</h2></th>
                <th><h2>Charge</h2></th>
            </tr>
            <tr>
                <td><h4>Order Total</h4></td>
                <td><h4>{{ order.total }}</h4></td>
            </tr>
            <tr>
                {% if order.membership_discount %}
                    <td><h4>Membership Discount</h4></td>
                    <td><h4>{{ order.membership_discount }}</h4></td>
                {% endif %}
            </tr>
            <tr>
                {% if order.coupon_discount %}
                    <td><h4>Coupon Discount</h4></td>
                    <td><h4>{{ order.coupon_discount }}</h4></td>
                {% endif %}
            </tr>
            <tr>
                {% if order.reservation %}
                    <td><h4>Reservation</h4></td>
                    <td><h4>{{ order.reservation_price }}</h4></td>
                {% endif %}
            </tr>
            <tr>
                <td><h4>Tax</h4></td>
                <td><h4>{{ order.tax }}</h4></td>
            </tr>
            <tr>
                <td><h4>Final Amount</h4></td>
                <td><h4><b>{{ order.final_amt }}</b></h4></td>
            </tr>
        </table>
        <br>
        <form name="searchForm" id="searchForm" method="POST" action="{% url 'menu:checkout' %}">
            {% csrf_token %}
            <div class="input-append">
                <input class="span2" id="coupon_id" name="coupon_id" type="hidden">
                <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                    {% if order.coupon %}
                        Applied {{ order.coupon.percentage }}% Discount Coupon
                    {% else %}
                        Use Coupon?
                    {% endif %}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li onclick="$('#coupon_id').val('-1'); $('#searchForm').submit()">Don't use Coupon</li>
                    <div class='dropdown-divider'></div>
                    {% for coupon in avail_coupons %}
                        <li onclick="$('#coupon_id').val('{{ coupon.id }}'); $('#searchForm').submit()">{{ coupon }}</li>
                    {% endfor %}
                </ul>
                </div>
            </div>
        </form>
        <br>
        <div class='mx-auto checkout_end'>
            <h5>{{ order.date }}</h4>
            <br>
            <a href="{% url 'menu:menu' %}" class='a_button'>Back to Menu</a>
            <a href="{% url 'menu:payment' %}" class='a_button'>Proceed to Payment</a>
        </div>

    </div>
    <link rel="stylesheet" href="{% static 'CSS_files/menu/checkout.css' %}">
{% endblock %}