{% extends 'menu/menu_base_template.html' %}

{% block content %}
    <div>
        <h1>Virtual Menu</h1>
    </div>
    <div>
        {% for food_item in food_items %}
            <div>
                <h2>{{ food_item.name }}</h2>
                <img src="{{ food_item.image.url }}" height="420" width="420">
                <form action="{% url 'menu:item' %}" method="POST">
                    {% csrf_token %}
                    <div>
                        <input type='submit' value='Explore' name="ID_{{ food_item.id }}">
                    </div>
                </form>
            </div>
            <br>
        {% endfor %}
    </div>
    <div>
        {% if order_items %}
            {% for order_item in order_items %}
                <h3>{{ order_item.food_item.name }}</h3>
                <h3>{{ order_item.quantity }}</h3>
                <form action="{% url 'menu:update' %}" method="POST">
                    {% csrf_token %}
                    <div>
                        <input type='submit' value='-' name="ID-_{{ order_item.id }}">
                    </div>
                </form>
                <form action="{% url 'menu:update' %}" method="POST">
                    {% csrf_token %}
                    <div>
                        <input type='submit' value='+' name="ID+_{{ order_item.id }}">
                    </div>
                </form>
                <form action="{% url 'menu:update' %}" method="POST">
                    {% csrf_token %}
                    <div>
                        <input type='submit' value='DELETE' name="IDx_{{ order_item.id }}">
                    </div>
                </form>
            {% endfor %}
            <h3>{{ order.date }}</h3>
            <h3>{{ order.total }}</h3>
            {% if order.reservation %}
                <h3>Reservation Booked!</h3>
                <h3>Reservation Charge: Rs. {{ order.reservation_price }}</h3>
                <form action="{% url 'menu:reservation' %}" method="POST">
                    {% csrf_token %}
                    <div>
                        <input type='submit' value='Remove Reservation'>
                    </div>
                </form>
            {% else %}
                <h3>Reservation Available!</h3>
                <h3>Current Reservation Price: Rs. {{ reservation_price }}</h3>
                <form action="{% url 'menu:reservation' %}" method="POST">
                    {% csrf_token %}
                    <div>
                        <input type='submit' value='Book Reservation'>
                    </div>
                </form>
            {% endif %}
            <form action="{% url 'menu:checkout' %}" method="POST">
                {% csrf_token %}
                <div>
                    <input type='submit' value='Proceed to Payment'>
                </div>
            </form>
        {% else %}
            <h2>No orders made yet!</h2>
        {% endif %}
    </div>
{% endblock %}