{% extends 'menu/menu_base_template.html' %}
{% load static %}

{% block content %}
    <div class='title'>
        <h1>View Orders</h1>
    </div>

    <div id='content' class='mx-auto'>
        {% if orders %}
            <div class="card-columns">
                {% for order in orders %}
                    <div class="card">
                        <div class="card-body text-center">
                            <h4 class="card-title">Date: {{ order.date }}</h4>
                            <div class="card-text">
                                <br>
                                <h5>Order Items:</h5>
                                <div class='d-flex flex-wrap'>
                                    {% for order_item in order.orderitem_set.all %}
                                        <h6 class='order_items'>{{ order_item.food_item.name }}</h6>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h2>No Orders made yet!</h2>
        {% endif %}
    </div>
    <link rel="stylesheet" href="{% static 'CSS_files/menu/show_orders.css' %}">
{% endblock %}