{% extends 'menu/menu_base_template.html' %}

{% block content %}
    <div>
        <h1>View Orders</h1>
        {% if orders %}
            {% for order in orders %}
                <h2>{{ order.date }}</h2>
                <h2>{{ order.total }}</h2>
                {% for order_item in order.orderitem_set.all %}
                    <h3>{{ order_item.food_item.name }}</h3>
                    <h3>{{ order_item.quantity }}</h3>
                {% endfor %}
            {% endfor %}
        {% else %}
            <h2>No Orders made yet!</h2>
        {% endif %}
    </div>
{% endblock %}