.customer_options {
    background-color: transparent;
    color: #00F5C0;
    padding: 50px;
    margin: 0px 10px 0px 10px;
    text-align: center;
}

.customer_options:hover {
    background-color: #00F5C0;
    color: #111D4A;
}

.options_page {
    width: 100%;
}