.card-columns {
    padding: 20px;
}

.card-text h5 {
    text-align: left;
}

.card-body {
    background-color: #235E80;
    border: none;
}

.order_items {
    margin: 5px;
    background-color: #111D4A;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

#content h2 {
    text-align: center;
}