{% extends 'customer/customer_base_template.html' %}
{% load static %}

{% block content %}
    <div class='title'>
        <h1>View Reviews</h1>
    </div>

    <div id='content' class='mx-auto'>
        {% if reviews %}
            <div class="card-columns">
                {% for review in reviews %}
                    <div class="card">
                        <img class="card-img-top" src="{{ review.image.url }}" alt="Card image" height="420" width="420">
                        <div class="card-body text-center">
                            <h4 class="card-title">{{ review.comment }}</h4>
                            <h4 class="card-text">Rating: {{ review.rating }}/5</h4>
                            <h6 class='card-text'>{{ review.date }}</h6>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h2>No Reviews made yet!</h2>
        {% endif %}
    </div>
    <link rel="stylesheet" href="{% static 'CSS_files/feedback/show_feedback.css' %}">
{% endblock %}